[2018-12-04 19:12] joerg84 opened #24 "Working Cassandra example."

[2019-01-29 05:58] fabianbaier opened #25 "MySQL Example not working"
When trying to follow https://github.com/maestrosdk/maestro/blob/master/docs/Backups.md and run

[code]

I get the following error message:
[code]

Log:
[code]

[2019-01-29 13:10] runyontr opened #1 "Add Operator Labels to OperatorVersions"
To support queries like:

[code]

[2019-01-29 22:17] fabianbaier commented on #25
This seems to be related/similar to https://github.com/maestrosdk/maestro/issues/85

Comes up on Minikube, however, following the documentation  and trying to access the database fails with error code 1:

[code]

Maestro logs say:
[code]

Digging deeper into this seems like the password variable isn't assigned or set properly.

[code]

[2019-02-06 13:50] runyontr commented on #25
@fabianbaier What's your default storage provider in the cluster you're using?

It looks the PV that's created has a something in it already.  I've seen that happen with Gluster and other PVs that have a lost+found.   Can you exec into the pod and do an
[code]

[2019-02-07 06:21] fabianbaier commented on #25
Yes, similar behavior like in https://github.com/maestrosdk/maestro/issues/85 where it causes Kafka to crash. I believe the default storageClass for GKE is https://kubernetes.io/docs/concepts/storage/volumes/#gcepersistentdisk

Output of `/var/lib/mysql` looks like:

[code]

Like in #85 deleting the `lost+found` helped, thanks!

The change I needed to make to the `mysql.yaml`, was adding after `po

[2019-02-07 11:34] runyontr commented on #25
@fabianbaier I'm a little confused about why this was closed.

Did you change the FrameworkVersion for MySQL in the repo, or just locally?  I'm worried your fix won't work correctly on StorageProviders that don't have a `lost+found` directory, since that `rm` command will fail.  I also don't understand the implications of how the lost+found directory works to know if that will have reliability imp

[2019-02-08 19:44] fabianbaier commented on #25
@runyontr I am sorry that this confused you and thank you for bringing this back to my attention here and [here](https://github.com/kudobuilder/kudo/issues/85#issuecomment-461384166).

---
TL;DR:

- I re-open both issues and they should just be closed once there is a fix applied.

---

To the reasoning behind closing:

I closed because it explained imo why the MySQL example wasn't working in the s

[2019-02-09 15:04] runyontr opened #2 "Rename for Kudo"
s/maestro/kudo/g

[2019-02-20 22:16] #2 closed, assigned to fabianbaier

[2019-04-01 23:05] fabianbaier opened #8 "Adding videos to demos"
We should add a video of a demo to the corresponding README.md of a demo, e.g. [here](https://github.com/kudobuilder/frameworks/blob/master/repo/incubating/flink/demo/README.md).

[2019-04-01 23:08] fabianbaier opened #9 "[Framework] MySQL"
It would be great to have https://github.com/kudobuilder/kudo/blob/master/config/samples/mysql.yaml as a standalone framework.

[2019-05-02 20:18] jbarrick-mesosphere commented on #25
Mounting data into a subdirectory of the volume is the way postgres Docker image recommends solving this problem as well:

[code]

[2019-05-02 22:18] jbarrick-mesosphere opened #11 "Kafka readiness probe timeout is too short"
The kafka readiness probe timeout is set to 1s, which means kafka is never marked ready in my cluster as the readiness probe takes 1.5s to respond:

[code]

Error:

[code]

[2019-05-03 09:24] runyontr commented on #11
Closed by #12

[2019-05-03 09:24] #11 closed, assigned to nobody

[2019-05-15 10:32] yankcrime commented on #9
I was just looking at separating this example out and dropping it into the incubating frameworks folder, and then updating [the example](https://kudo.dev/docs/examples/backups/) accordingly.  I imagine that this would then be a more appropriate place to iterate on it.

[2019-05-15 11:00] fabianbaier commented on #9
Sgtm plus this would also help with https://github.com/kudobuilder/kudo/issues/142 by having the `mysql.yaml` living here

[2019-05-16 13:31] zmalik opened #16 "[kafka] move away from gcr.io/google-samples image"
We are using a `gcr.io/google-samples` images for kafka operator.

The `gcr.io/google-samples` is a stalled image and there are more issues to that image other than being stalled.

ref: https://github.com/helm/charts/issues/4540

We should replace the image with a community supported image that is as close to apache/kafka configuration and without tweaks done for a specific platform.

[2019-05-16 14:38] fabianbaier commented on #16
Agreed, I think we have the same notion in our `Zookeeper` Framework as well. I would propose we look first how other communities solve this, e.g. Helm/Bitnami before we settle for a decision.

On the top of my head...
I don't see KUDO in the business of building Docker containers or replicas of existing ones, so we need to be careful on what we decide here. Ideally, we adapt those that the commun

[2019-05-16 15:04] zmalik commented on #16
`helm` is using the confluent community flavor of Kafka
`bitnami` is using their own image

I agree that Kudo should be really careful around building new container images, but in this case, we have only opinionated flavors of Kafka containers.

`bitnami` is really keeping up with upstream kafka releases but they are:
- based on their own images e.g `bitnami/minideb-extras:stretch-r360`
- have som

[2019-05-21 21:34] pcrews opened #26 "MySQL example documentation does not show results of queries executed"
**What happened**: The MySQL example documentation does not show the results of certain queries, which is necessary to properly demonstrate intended functionality / performance.

**What you expected to happen**:
That the documentation should include the output of the following commands / queries:
kubectl exec -it $MYSQL_POD -- mysql -ppassword  -e "show tables;" kudo
kubectl exec -it $MYSQL_POD --

[2019-05-21 21:41] pcrews opened #27 "MySQL example should allow for / provide for the use of xtrabackup"
**What would you like to be added**:
The MySQL example should allow for / provide for the ability to use xtrabackup as the backup solution instead of mysqldump

**Why is this needed**:
Once a database grows beyond a certain size, xtrabackup becomes a more useful / performant backup and restore option. mysqldump remains a useful tool and should be readily available, but hot backups are very much a

[2019-05-21 21:44] pcrews opened #28 "MySQL example should provide for / allow for replication setups"
**What would you like to be added**:
The ability to create a MySQL installation that leverages either native or Galera-based replication

**Why is this needed**:
Database replication is a key requirement for high-availability and workload partitioning (read/write nodes, etc).

If we are not going to provide an easy way to leverage native MySQL HA features, we should perhaps explore performance tes

[2019-05-23 15:40] zmalik commented on #16
other operators are also building their own images
e.g just discovered this through kafka user list: https://github.com/strimzi/strimzi-kafka-operator/blob/master/docker-images/kafka/Dockerfile

[2019-06-06 18:40] fabianbaier opened #17 "New Repo Structure"
**What would you like to be added:**

I'd like to add a new more flatter structure that reflects more changes for KUDO `0.2.0` that will break the current structure. Breaking it should be fine as we are still under `1.0.0`.

Proposed structure:

[code]

**Why is this needed:**

We need to change this repo structure so it will work with changes coming from [KEP-0008](https://github.com/kudobuilder/

[2019-06-06 18:45] fabianbaier opened #18 "CICD Pipeline to publish repo"
**What would you like to be added:**

We should start thinking about for future releases how Frameworks can be updated and published to our official repo and Google Cloud Storage. E.g. how new PRs can be tested with CircleCI and how merges into master will be published to our hosted bucket.

**Why is this needed:**

Right now this is a manual process and fairly slow. Automating this has all known

[2019-06-06 21:56] #9 closed, assigned to nobody

[2019-06-06 23:58] gerred commented on #17
This looks good to me!

[2019-06-07 17:25] #17 closed, assigned to nobody

[2019-07-08 07:42] zmalik commented on #16
was fixed by https://github.com/kudobuilder/operators/pull/29

[2019-07-08 07:42] #16 closed, assigned to nobody

[2019-07-08 16:03] zmalik opened #42 "Document how to trigger an operator release"
Right now when doing an operator release, it's a manual process i.e. asking KUDO engineers to do a release of an operator.

We should document how operator developers can actually kickstart a release process for their operator.

[2019-07-20 18:57] bgrant0607 opened #49 "Change uses of .k8s.io to .kudo.dev"
The .k8s.io suffix is reserved for use by the Kubernetes project. Please change your API groups, labels, and annotations to use a domain that you own, such as .kudo.dev.

Work is underway to prevent accidental misuse in the apiserver:
https://github.com/kubernetes/enhancements/pull/1111

We are also adding more easily discoverable documentation regarding this.

Thanks.

[2019-07-21 12:06] gerred commented on #49
Thanks @bgrant0607! These CRDs are out of date anyway and should be pointed at kudo.dev, these won't work in the most recent KUDO release anyway!

[2019-07-26 16:17] #49 closed, assigned to nobody

[2019-08-07 09:38] yankcrime commented on #25
Looks like I missed this issue when I proposed #65, which fixes the problem for the MySQL operator albeit in a different way to the one outlined above.

[2019-08-16 13:49] djannot opened #68 "Can't deploy Kafka 0.1.1 with KUDO controller 0.5.0"
I wan't to test the upgrade from one version of the Kafka Operator (0.1.1) to another (0.2.0), but the deployment of the version 0.1.1 doesn't work.
I can deploy the version 0.2.0 without any issue.

[2019-08-16 13:55] alenkacz commented on #68
I think @zmalik found out yesterday during the demos the same thing. He's on PTO but he'll address next week I am sure

[2019-08-20 09:41] zmalik commented on #68
we will do a new release for KUDO Kafka `0.1.2` with correct service labels so Kafka version 2.2.1 can work without any issues with latest KUDO release.

[2019-08-21 07:41] zmalik commented on #68
@kensipe released `0.1.2` with correct labels and we have removed the `0.1.1` from the repository

[2019-08-21 07:41] #68 closed, assigned to zmalik

[2019-08-28 18:51] realmbgl opened #73 "ci test-4 failing"
Ran into this with my elastic pull request. Alena restarted and then it worked. Just logging this to keep track in case we see this again.

https://circleci.com/gh/kudobuilder/operators/593

[2019-08-29 09:04] alenkacz commented on #73
Fo some reason only 2/3 replicas were deployed in time :/ any ideas @jbarrick-mesosphere

[2019-09-03 18:20] oliviabarrick commented on #73
I believe the correct thing to do is increase the timeout in the test: https://kudo.dev/docs/testing/reference.html#testassert

[2019-10-18 23:19] sarjeet2013 opened #89 "Some Operator yamls missing specifying namespace"
On checking the quick-start deployment for kafka, observed that the templates for kafka missing the namespace (`namespace: {{ .Namespace }}`) from some of the yamls. Also, observed this on other operator manifest yamls as well.

See below example where namespace is missing from `Service` Yaml, but exists in `Statefulsets` Yaml

Statefulsets: https://github.com/kudobuilder/operators/blob/master/rep

[2019-10-21 18:51] sarjeet2013 commented on #89
@gerred FYI

[2019-10-30 14:46] zmalik commented on #89
added it to all `kafka` resources

[2019-10-30 14:46] #89 closed, assigned to nobody

[2019-11-08 20:06] sb1975 opened #119 "Need to create a daemonjob operator"
We have the default daemonset objects as part of native Kubernetes API.
However there are situations when we need to run a code on a kubernetes node one time only (like running a script to install Antivirus software on the physical host operating system).
For this we need a daemonjob controller which will run one time and complete the task.

Ref. code from Metacontroller : https://github.com/Googl

[2019-11-08 22:30] gerred commented on #119
I think we can do most of this -- the difference in the daemonjob is that they have an arbitrary Python script running. Our health check will return as successful as soon as the pods pass their readiness check, which doesn't _quite_ handle this.

However, we do have the semantics for deleting these resources in a step, so I think we're close. We could have a different type of task for now (until w

[2019-11-19 15:22] kensipe commented on #1
with the name change it should look like
`kubectl kudo get operatorversions -l operator=flink`

[2019-11-26 14:51] sharego opened #131 "Document how to build this git repository to a kudo repository"
As `kubectl kudo package create` command can zip a package, what can be using for a whole repository

[2019-11-26 20:12] kensipe opened #132 "Spark Package Verify Warnings"
go run cmd/kubectl-kudo/main.go package verify ../operators/repository/spark/operator/
Warnings
template "spark-applications-crds.yaml" is not used as a resource
template "webhook-cleanup-job.yaml" is not used as a resource
package is valid

[2019-11-26 20:12] kensipe opened #133 "Flink Demo Package Verify Error"
go run cmd/kubectl-kudo/main.go package verify ../operators/repository/flink/docs/demo/financial-fraud/demo-operator/
Errors
parameter "download_url" in template uploader.yaml is not defined
Error: package verification errors: 1
exit status 255

[2019-11-26 20:14] kensipe opened #134 "Kafka Package Verification Warnings"
go run cmd/kubectl-kudo/main.go package verify ../operators/repository/kafka/operator/
Warnings
parameter "SSL_ENDPOINT_IDENTIFICATION_ENABLED" defined but not used.
parameter "CUSTOM_SERVER_PROPERTIES" defined but not used.
package is valid

[2019-11-26 21:28] fabianbaier commented on #133
Format changed :)

[code]

should do the trick for the `params.yaml` - will you do the PR for it or should I do it?

[2019-11-27 01:50] #133 closed, assigned to fabianbaier

[2019-12-05 13:35] zmalik opened #145 "add cruise-control integration for Kafka"
Integration with https://github.com/linkedin/cruise-control
Which out of the box connects to the KUDO Kafka instance

[2019-12-05 13:37] zmalik opened #146 "add built-in kafka mirror-maker integration"
add integration for kafka mirror-maker to enable users to do miragtion in/out of KUDO Kafka cluster

[2019-12-05 14:27] zmalik opened #147 "run tests for operators which are relevant to the changes in the PR"
right now we are running some tests for any change in the repository. Those tests are for just for zookeeper operator. In case we change some other operator logic, these tests are irrelevant.
we should only run the tests related to that operator or no tests in case we don't have any for that operator. We need to ensure that:

- CI run tests that are relevant to the changes done in the PR
- PR stat

[2019-12-09 12:53] alenkacz commented on #42
I think you're working on this as part of contributing.md right @zmalik ?

[2019-12-09 15:56] zmalik opened #149 "create an operator for confluent schema-registry"

[2019-12-09 17:10] zmalik commented on #42
that won't document how the release is done but points to different mechanisms available right now for having a release

[2019-12-09 17:18] alenkacz commented on #42
oh is this meant as an internal documentation for the core team?

[2019-12-10 09:06] #134 closed, assigned to zmalik

[2019-12-12 09:06] nfnt opened #154 "Update or remove outdated demos"
Demos are broken or outdated. E.g. the Flink financial fraud demo is supposed to use KUDO 0.7 according to its `README`. But the operator only works on KUDO 0.8 though, while depending on packages that only work on KUDO 0.7.
The Flink modifications demo doesn't use operator packages at all.

These demos need to be updated or removed.

[2019-12-12 13:31] nfnt commented on #154
Then Flink financial fraud demo has been updated to work with KUDO 0.8 in https://github.com/kudobuilder/operators/pull/155.

[2019-12-13 15:07] #146 closed, assigned to shubhanilBag

[2019-12-17 17:11] #132 closed, assigned to akirillov

[2019-12-20 13:17] klion26 opened #172 "Demo in blog "Running Apache Flink on Kubernetes with KUDO" did not work"
I'm following the steps in the flink blog [Running Apache Flink on Kubernetes with KUDO](https://flink.apache.org/news/2019/12/09/flink-kubernetes-kudo.html),
after execute the command `kubectl kudo plan status --instance flink-demo3`, the output said that "No plan ever run for instance - nothing to show for instance flink-demo3"

I'v installed from the local yaml file using the command ` kubectl

[2020-01-08 08:14] zmalik opened #176 "enable custom TLS for Cassandra"
this feature is to allow users to enable TLS in Cassandra based on the user-provided certificate.

This should follow the same approach as KUDO Kafka where users can provide a TLS secret to the operator

[2020-01-08 08:17] zmalik opened #177 "enable custom configuration for confluent schema registry"
to enable using custom [schema-registry.properties](https://docs.confluent.io/current/schema-registry/installation/config.html#sr-configuration-options)

Instead of using parameters to enable each option separately we can use custom `ConfigMap` for confluent schema registry to enable users to override the default properties

[2020-01-10 09:43] zmalik opened #183 "KUDO mysql operator objects names are hardcoded to 'mysql'"
we should use the instance name to enable users to have multiple instances of an operator living in same namespace. In case of mysql its not possible as for today.

[2020-01-13 14:54] guenter commented on #24
Cassandra was added in #123

[2020-01-13 14:54] #24 closed, assigned to nobody

[2020-01-13 14:58] guenter commented on #25
Fixed by #169

[2020-01-13 14:58] #25 closed, assigned to nobody

[2020-01-13 15:00] guenter commented on #149
Added in #170

[2020-01-13 15:00] #149 closed, assigned to nobody

[2020-01-13 16:35] guenter opened #186 "Use default instance names in operator documentation"
The current documentation sometimes assumes default instance names, and sometimes overrides the default, so commands in the docs don't work when copied verbatim.

For example the [installation docs for Kafka](https://github.com/kudobuilder/operators/blob/master/repository/kafka/docs/v1.1/install.md#installing-the-operator) override the names with `--instance`, but Kafka tries to connect to a ZooKe

[2020-01-16 16:47] zmalik opened #191 "make node-exporter resources in KUDO Kafka configurable"
right now they have hardcoded value and with the significant load, we saw it can start having CPUThrottling errors

[2020-01-16 16:49] zmalik commented on #186
yes, the documentation is outdated and was created at first place when we had random instance names. Now with the default name `operatorName-instance` we should make it simple. I will open a PR to fix it for Kafka

[2020-01-17 17:17] #172 closed, assigned to guenter

[2020-01-17 17:26] guenter commented on #172
Hi @klion26, the demo in this repo has been fixed: https://github.com/kudobuilder/operators/tree/master/repository/flink/docs/demo/financial-fraud
Let us know if you're still having trouble. Fix for Flink Blog will follow shortly.

[2020-01-17 18:09] guenter commented on #172
Flink web PR for reference: apache/flink-web#293

[2020-01-18 09:26] guenter commented on #154
Closing because the Flink demo has been fixed. If others are broken too please open a new PR.

[2020-01-18 09:26] #154 closed, assigned to nobody

[2020-01-18 09:44] guenter commented on #131
Here are the commands to build a repository:

[code]

This will give you a repository in `build/repo`.
We need to improve our docs around this and I edited the title to reflect that. See also #42

[2020-01-24 14:32] shubhanilBag opened #205 "e2e test fail with kind when operator is using pipe tasks"
This PR https://github.com/kudobuilder/operators/pull/201 is failing with

            logger.go:37: 08:05:29 | kafka-upgrade-test | 2020-01-24 08:00:26 +0000 UTC	Normal	Pulling	Pulling image "mesosphere/kafka:1.1.0-2.4.0"
            logger.go:37: 08:05:29 | kafka-upgrade-test | 2020-01-24 08:00:26 +0000 UTC	Normal	Killing	Stopping container kubernetes-zookeeper
            logger.go:37: 08:05:29

[2020-01-24 15:14] kensipe commented on #205
Thanks for the report... however I find it confusing.   IS this an issue with `pipe tasks` or is it an issue with configuration around kind and `KUBECONFIG`?

[2020-01-24 16:19] shubhanilBag commented on #205
The pipe tasks are working fine, tests are passing in live cluster, it's doing what's promised.
I think it is around how KUDO runs the e2e tests using kind. AFAIU KUDO manager is not running in a pod but as a process as we are only adding the crds ref: https://github.com/kudobuilder/operators/blob/master/kudo-test.yaml#L6.
so maybe when its trying to read the file from init pod, it is creating the

[2020-01-24 16:25] kensipe commented on #205
thank you sir

[2020-01-27 11:10] zen-dog commented on #205
@shubhanilBag what do error do you see when trying that? Because pipe-task relies on controller-runtime [getting](https://github.com/kudobuilder/kudo/blob/master/pkg/engine/task/task_pipe.go#L269) the kubeconfig, which, however, can be overridden by the `--kubeconfig` parameter (or `KUBECONFIG` env var):
[code]

[2020-01-27 13:11] shubhanilBag commented on #205
Yeah, earlier it was unable to read the kubeconfig from the exported path when I was running make test locally, I removed the existing file and tried again, its working now. PR https://github.com/kudobuilder/operators/pull/201 is passing with https://github.com/kudobuilder/operators/pull/201/commits/165c93f26e9276b01caea4aaf460feae6917c6b9, thanks :+1:
but is it right solution? is this how it shou

[2020-01-27 14:18] zen-dog commented on #205
Glad to hear it worked!

[2020-01-27 16:31] ANeumann82 opened #209 "[KUDO C*] Allow external access to Cassandra cluster"
- Provide a service that allows access to Cassandra from outside the cluster
- Add Integration Test
- Documentation

[2020-01-27 16:45] gerred opened #210 "Determine community operator policy"
We have a few operator PRs out right now - #141 and #152 immediately come to mind, that raise some questions.

What is the policy for our primary operator repository on the contents of this repository and what that implies as far as ownership and support? Is the `maintainer` listed in the operator.yaml the contact for issue reporting and PRs? Is the KUDO team? Someone else? What is allowed into th

[2020-01-30 10:52] zmalik commented on #177
solved by #193

[2020-01-30 10:52] #177 closed, assigned to nobody

[2020-02-04 08:37] porridge commented on #205
The workaround in https://github.com/kudobuilder/operators/pull/201/files#diff-b67911656ef5d18c4ae36cb6741b7965R15 only helped for CI for the `operators` repo.
Now we have the same breakage in the `kudo` e2e CI test.
Arguably, this should be fixed in a single place.

[2020-02-04 08:49] porridge commented on #205
Also, setting `KUBECONFIG` in the `Makefile` like it was done in https://github.com/kudobuilder/operators/pull/201/files#diff-b67911656ef5d18c4ae36cb6741b7965R15 seems rather fragile, since it creates an semantic coupling with how `kind` determines where to put the config file.

[2020-02-05 12:53] #205 closed, assigned to porridge

[2020-02-10 09:43] ANeumann82 opened #221 "[KUDO C*] Add integration tests for CPU/Mem settings"
Add tests to verify CPU and Mem settings work correctly

[2020-02-13 14:36] #221 closed, assigned to nobody

[2020-02-14 09:30] #209 closed, assigned to ANeumann82

[2020-02-14 09:31] ANeumann82 commented on #176
Has this been covered by https://github.com/mesosphere/kudo-cassandra-operator/pull/31 ?

[2020-02-18 13:27] #183 closed, assigned to nobody

[2020-02-19 18:09] porridge opened #227 "Elastic operator does not work with current KUDO"
Noticed when restructuring docs in https://github.com/kudobuilder/operators/pull/226.

This might be due to the fact that KUDO 0.10.x no longer prefixes pod names with instance name.

[code]

[2020-02-27 06:42] porridge opened #234 "Racy usage of docker image by cassandra tests"
When working on https://github.com/mesosphere/kudo-cassandra-operator/pull/56 I noticed there is a race condition between building+pushing a docker image and actually using it in tests, because we [seem to be using the static tag](https://teamcity.mesosphere.io/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2603042&_focus=7077) which is being pushed to simultaneously from mu

[2020-02-27 07:09] porridge commented on #234
FTR, spark operator build [dynamically generates the image tag based on checksum of its inputs](https://github.com/mesosphere/kudo-spark-operator/blob/a02b492855d3ea68f671ce289fb0b74acc3868b1/Makefile#L22-L23). That is somewhat fragile (filenames are ignored, as well as any non-hermetic dependency fetched from the internet) but we could consider doing something similar, just based on the ID of the

[2020-02-28 08:43] porridge commented on #234
Yeah, so after some investigation I found that the green checkmark on e1619ec in https://github.com/mesosphere/kudo-cassandra-operator/pull/56 was a lie: the updated image [never had a chance to work](https://github.com/criteo/cassandra_exporter/issues/73) so this issue is not theoretical, it's really biting us.

[2020-03-03 20:00] zmalik opened #236 "add zookeeper docs to explain how to retrieve ZK_URI"
add documentation to explain how to retrieve ZK_URI based on instance name.
For the first time users, doing a custom installation this can be hard to find

[2020-03-09 22:37] kensipe opened #237 "RabbitMQ Package Failure"
go run cmd/kubectl-kudo/main.go package create --destination ~/repo ../operators/repository/rabbitmq/operator/
Errors
plan "not-allowed" used in parameter "DISK_SIZE" is not defined
Error: found 1 package verification errors
exit status 255

[2020-03-23 15:26] #234 closed, assigned to nobody

[2020-04-08 23:51] realmbgl opened #247 "for zookeeper and kafka make imagePullPolicy configurable"
For `zookeeper` and `kafka` make `imagePullPolicy` configurable.
https://github.com/kudobuilder/operators/blob/master/repository/zookeeper/operator/templates/statefulset.yaml#L32
https://github.com/kudobuilder/operators/blob/master/repository/kafka/operator/templates/statefulset.yaml#L83

As it is for example for `cassandra`.
https://github.com/kudobuilder/operators/blob/master/repository/cassandr

[2020-04-21 09:02] shubhanilBag opened #253 "Cannot upgrade Kafka from 1.2.0 to 1.2.1"
Steps:

1. Install KUDO Kafka 1.2.0 (current released)
`kubectl kudo install kafka   --instance=kafka   --namespace=kudo-kafka   -p ZOOKEEPER_URI=$ZOOKEEPER_URI   -p BROKER_CPUS=200m   -p BROKER_COUNT=3   -p BROKER_MEM=800m   -p DISK_SIZE=10Gi   -p MIN_INSYNC_REPLICAS=1   -p NUM_IO_THREADS=10   -p NUM_NETWORK_THREADS=5`

[code]

2. Upgrade kafka to local master 1.2.1

`kubectl kudo install ./repos

[2020-04-21 12:39] porridge commented on #253
Nil managed to reproduce this in a simpler operator with latest KUDO:

2020/04/21 12:00:45 Instance: instance default/foo was upgraded from first-operator-0.2.0 to first-operator-0.2.1 operatorVersion
2020/04/21 12:00:45 InstanceController: Inferred new execution plan 'update' from instance default/foo state
2020/04/21 12:00:45 InstanceController: Going to start execution of plan 'update' on insta

[2020-05-11 09:39] ranjithwingrider commented on #227
I hit the same issue with kudo versions 0.11.1 and 0.12.0 .. Some details are below..
[code]
[code]
[code]
This is the same problem mentioned in https://github.com/kudobuilder/operators/pull/257

Snippet from master pod log:
[code]

[2020-05-11 09:57] #227 closed, assigned to nobody

[2020-05-11 10:01] ranjithwingrider opened #258 "Specify StorageClass parameter while deploying Elastic Operator"
While installing kudo based Operator for Elastic, it should have the provision to change the StorageClass. In my GKE deployment, it used `standard` StorageClass. Ideally, this parameter should be configurable which is already done for other Kudo based operator such as Kafka.

[2020-05-12 11:00] t0gre opened #260 "kafka install failure: Unknown task kind Toggle"
To replicate:

Literally follow the [runbook](https://kudo.dev/docs/runbooks/kafka/install.html#installing-the-operator) exactly

1. Fresh EKS cluster
2. `k kudo init`.
3. `k kudo install zookeeper`
4. `k kudo install kafka`

Result = install fails.

`k kudo plan status --instance=kakfa-instance` shows:

[code]
 Output of `k kudo version` is

[code]

[2020-05-12 11:57] porridge commented on #260
@tomgreenwood1 please show `k get -n kudo statefulset kudo-controller-manager -o yaml`

[2020-05-12 12:25] t0gre commented on #260
@porridge `k get -n kudo statefulset kudo-controller-manager -o yaml` returns `Error from server (NotFound): namespaces "kudo" not found` but `k get -n kudo-system statefulset kudo-controller-manager -o yaml` returns:

[code]
Thanks

[2020-05-12 12:58] porridge commented on #260
You have an old controller: `image: kudobuilder/controller:v0.10.0` please upgrade.

[2020-05-12 12:59] porridge commented on #260
cc @ANeumann82 who worked on upgrades IIRC

[2020-05-12 13:38] t0gre commented on #260
ok thanks. What is the recommended version? From dockerhub it looks like the latest is v0.13.0-rc1...  also, I ran `k kudo init` this morning, seems strange it pulled an old version?

[2020-05-14 15:51] porridge commented on #260
`rc1` is pre-release. I'd recommend using https://github.com/kudobuilder/kudo/releases/latest

I'm not sure how `init` works when there is already a controller installed there :thinking:

[2020-05-14 15:54] porridge commented on #260
OTOH `creationTimestamp: "2020-05-12T07:37:00Z"` sounds like the resource was indeed created recently :thinking:
This is... weird.

[2020-05-14 15:57] porridge commented on #260
How did you obtain the `kudo` plugin, @tomgreenwood1 ?

[2020-05-14 16:00] ANeumann82 commented on #260
This is pretty weird. The `k kudo version` output indicates that the installed controller should be 0.12.0 as well...

[2020-05-14 16:06] porridge commented on #260
@tomgreenwood1 the only explanation I can come up with is that somehow you ran a different `kudo` plugin version when you ran `init`.
That or some weird bug in our CLI. Can you reproduce this with another fresh EKS cluster?

[2020-05-19 13:06] #145 closed, assigned to zmalik

[2020-05-19 13:07] #176 closed, assigned to shubhanilBag

[2020-05-19 13:07] #191 closed, assigned to nobody

[2020-05-27 09:49] walk1ng opened #266 "NodePort allocate failed since conflict occur when multiple Kafka instances with external NodePort services expose"
Hi teams,
When I use Kafka operator to install multiple Kafka instances in the same k8s cluster and all Kafka with external NodePort type services exposed, the nodePorts maybe conflicted assignment here.
e.g.
- kafka-1 with 3 brokers and external expose with 3 nodePorts: 30902, 30903, 30904
- kafka-2 with 3 brokers and external expose with 3 nodePorts the same: 30902, 30903, 30904
that's the confl

[2020-05-27 10:25] walk1ng opened #267 "advertised.listeners is not set EXTERNAL_INGRESS when Kafka instance with external NodePort service exposed"
Hi guys,

reference the doc: https://github.com/kudobuilder/operators/blob/master/repository/kafka/docs/latest/external-access.md
I installed a Kafka instance with external NodePort type service exposed in my k8s cluster.
[code]
I exec to the kafka pod inside and check the server.properties as below:
[code]

Expected:
`EXTERNAL_INGRESS` is configured as below(example from above reference):
[code]

[2020-05-27 10:31] zmalik commented on #267
@walk1ng thanks for the issue, can you please provide the KUDO and KUDO Kafka versions?

[2020-05-27 10:33] walk1ng commented on #266
Version information:

**KUDO Version**
version.Info{GitVersion:"0.13.0", GitCommit:"900ca042", BuildDate:"2020-05-14T18:23:50Z", GoVersion:"go1.14.2", Compiler:"gc", Platform:"darwin/amd64"}

**Operator version**
kafka-1.3.0
zookeeper-0.3.0

**App version**
kafka 2.5.0
zookeeper 3.4.14

[2020-05-27 10:34] walk1ng commented on #267
Version information:

**KUDO Version**
version.Info{GitVersion:"0.13.0", GitCommit:"900ca042", BuildDate:"2020-05-14T18:23:50Z", GoVersion:"go1.14.2", Compiler:"gc", Platform:"darwin/amd64"}

**Operator version**
kafka-1.3.0
zookeeper-0.3.0

**App version**
kafka 2.5.0
zookeeper 3.4.14

[2020-05-27 10:51] zmalik commented on #267
versions seems correct, and it's working as for me but that depends on the kubernetes distro also
can you verify if the node has an external-ip?
`kubectl get nodes -o wide` should be enough to verify that and `34.214.27.71` should be listed there

other things that might help is to check if plans are complete
[code]
the external access via nodeports works in KUDO Kafka by using a clusterrole that

[2020-05-27 11:00] zmalik commented on #266
@walk1ng we don't recommend using nodeports and this shouldn't be the first choice to run KUDO Kafka in production https://github.com/kudobuilder/operators/blob/master/repository/kafka/docs/latest/external-access.md#nodeports

but as you said you can specify the `EXTERNAL_NODE_PORT` and reserve ranges for two different instances.

[2020-05-27 12:39] zmalik commented on #267
@walk1ng can you test by updating the instance with `-p EXTERNAL_ADVERTISED_LISTENER=false` and enable it again?
[code]

[code]
it could be an issue with deploy plan

[2020-05-27 13:53] walk1ng commented on #266
Hi zmalik, thanks for your quick response.
Does any way to assign the nodePorts by k8s rather than specify the starting nodePort by myself? In our system, we consider to install/deploy the Kafka instances automatically and on-demand, so it's difficulty to figure out the starting value and sequential ports are available.

[2020-05-27 14:06] walk1ng commented on #267
my node has not an external-ip, does it the reason I met the problem?
and I checked the deploy plan is COMPLETE.
the clusterrole related my Kafka instance is created.

[2020-05-27 15:49] zmalik commented on #267
yes @walk1ng, to have any external-access through nodeport it goes through the kubernetes node external-ip

[2020-05-27 16:00] zmalik commented on #266
@walk1ng right now we haven't implemented that. Because that would mean that for clients to connect to a newly created Kafka cluster they would need to know the dynamic nodeport that just got assigned to the services. And that would be different for each Kafka broker.
We just didn't have a use-case for users asking for dynamic nodeports and how they would use them.

[2020-05-28 03:29] walk1ng commented on #267
question:
I haven't find the related script or code to add/generate `EXTERNAL_INGRESS://IP:NODEPORT` for `advertised.listeners` property in file `server.properties` if my node have external-ip and I install Kafka with params as below:
[code]

could you please figure out?

my purpose is create a Kafka cluster with NodePort type services exposed in my k8s, and my apps or users inside of my k8s clust

[2020-05-28 07:59] zmalik commented on #267
@walk1ng have you tested what I posted above?
https://github.com/kudobuilder/operators/issues/267#issuecomment-634632457
There might be an issue that we need to fix around first time deploys the PR is open https://github.com/kudobuilder/operators/pull/268

[2020-05-29 14:18] zmalik commented on #260
@tomgreenwood1 were you able to test it again?

[2020-05-29 15:09] t0gre commented on #260
Hi All,

Sorry for the slow reply. I've been busy with work but just did a fresh install now and everything worked fine. Plan status is healthy, `k kudo init` installed `v0.12.0`.. everything went fine basically, and I haven't upgraded the kudo plugin (@porridge I got the plugin from krew). So I dunno, maybe I did something wrong last time, but I can't figure out what.. but yeah, I can't reproduce

[2020-05-30 21:58] zmalik commented on #260
thank you @tomgreenwood1 for testing again
yeah we can close this issue as it feels like it could be what @porridge explained.

[2020-05-30 21:58] #260 closed, assigned to nobody

[2020-06-01 07:30] walk1ng commented on #267
hi zmalik,
I saw your fix had been merged into master.
I tested it follow your comment, firstly update `EXTERNAL_ADVERTISED_LISTENER=false` then update `EXTERNAL_ADVERTISED_LISTENER=true`, I saw the plan `external-access` is COMPLETE.

below is snippet about advertised.listeners in kafka pod.
[code]

my question is that, if my k8s node has not external-ip configured(I am not the administrator of k

[2020-06-01 10:39] zmalik commented on #267
it's not yet released, and we will release in upcoming days, as for now the workaround is https://github.com/kudobuilder/operators/issues/267#issuecomment-634632457 for the first time deploys to force the detection of external-ip again

How are any services in the cluster exposed outside the kubernetes cluster? I'm afraid that you would need to fix that part before focussing on Kafka itself.

[2020-06-02 06:56] Jamlee commented on #267
Cloud i fix it by get the ip value use "internal ip" ?  in private network in company, internal ip is safe  and accessible too.

[2020-06-02 10:07] walk1ng commented on #267
could you figure out where

Line#95 to #110 from https://github.com/kudobuilder/operators/blob/master/repository/kafka/operator/templates/bootstrap.yaml

hi,
could you please figure out where is the code to create/generate the two files: `/opt/kafka/external.listeners` and `/opt/kafka/external.advertised.listeners` in kafka pod?
the two files is not existed in kafka pod when my kafka installed don

[2020-06-03 14:22] tbaums opened #270 "Cassandra Grafana dashboard link broken"
Link to Grafana dashboard yields 404.

Line 74 - https://github.com/kudobuilder/operators/blob/master/repository/cassandra/3.11/docs/monitoring.md

[2020-06-03 14:30] mpereira commented on #270
This would ideally be fixed in the KUDO C* [`create_operators_pull_request.py` script](https://github.com/mesosphere/kudo-cassandra-operator/blob/a061b2fe7c25567a433659436f0127102bf45f63/tools/create_operators_pull_request.py#L206-L216).

[2020-06-03 14:44] mpereira commented on #270
(The link works there: https://github.com/mesosphere/kudo-cassandra-operator/tree/master/monitoring/grafana)

[2020-06-03 15:07] zmalik commented on #270
added the fix here https://github.com/mesosphere/kudo-cassandra-operator/pull/141

[2020-06-03 18:33] zmalik commented on #267
@walk1ng the logic is in the docker image https://github.com/mesosphere/kudo-kafka-operator/tree/master/images/kafka

and it works when there are external-ip attached to the service. can you please post the logs of any Kafka pod? specially the first few lines when its trying to detect the service's external-ip

It would work with any IP that the kubelet gets assigned. Please read https://kubernete

[2020-06-12 09:09] zmalik commented on #267
@walk1ng closing this issue as advertised.listeners is working with EXTERNAL_INGRESS when kubelets have external IP addresses.

[2020-06-12 09:09] #267 closed, assigned to zmalik

[2020-06-16 08:10] zmalik commented on #270
this is fixed now https://github.com/kudobuilder/operators/blob/master/repository/cassandra/3.11/docs/monitoring.md#2-install-the-grafana-dashboard

[2020-06-16 08:10] #270 closed, assigned to nobody

[2020-08-12 08:38] rishabh96b commented on #258
Hey @zmalik , can I work on this issue?

[2020-08-18 10:49] #258 closed, assigned to rishabh96b

[2020-08-21 09:33] nfnt commented on #42
This is now implemented by CI/CD in https://github.com/kudobuilder/operators-index.

[2020-08-21 09:33] #42 closed, assigned to zmalik

[2020-08-25 07:00] alenkacz commented on #237
Already fixed in https://github.com/kudobuilder/operators/pull/283

[2020-08-25 07:00] #237 closed, assigned to kensipe

[2020-10-02 10:04] helli0n opened #296 "Kafka updating properties doesn't work"
When I tried to enable external access on minikube I've got error in kafka console

`INFO[0000] Running kafka-utils...
INFO[0000] kubeconfig file: using InClusterConfig.
INFO[0000] kubernetes client configured.
INFO[0000] Running kafka-utils...
INFO[0000] Checking the service created for kafka-kafka-0
INFO[0000] detected  NodePort
ERRO[0000] could not run the kafka utils bootstrap: no node found w

[2020-10-02 12:01] zmalik commented on #296
@helli0n thanks for filing the issue, Kafka operator is maintained in https://github.com/mesosphere/kudo-kafka-operator.

kafka-utils try to detect external-ip, can you check if minikube node has any external-ip? if there is no external-ip, you cannot enable external access using nodeports.

The error message is misleading and should be fixed.

[2020-10-02 12:46] helli0n commented on #296
Here is IP that minikube has.
[code]

[2020-10-02 12:50] zmalik commented on #296
not this one
can you please check using `kubectl get nodes -o wide` ? you will see a column of `EXTERNAL-IP`

[2020-10-02 13:21] helli0n commented on #296
Sure, here is. I see that `EXTERNAL-IP:<none>`

I will try to find how to add it.

[2020-10-02 13:35] helli0n commented on #296
Looks like minikube hasn't EXTERNAL-IP.
I think kafka-utils should be modified with adding additional check when operator was deployed on minikube.

If local deploy then use INTERNAL-IP.

https://github.com/mesosphere/kudo-kafka-operator/blob/master/images/kafka/kafka-utils/pkgs/service/service.go#L192-L203

[2020-10-02 13:50] zmalik commented on #296
SGTM! can you create an issue in  https://github.com/mesosphere/kudo-kafka-operator repository?

will take a look during the next week.
contributions are also welcome! 🙂

[2020-10-02 13:59] helli0n commented on #296
https://github.com/mesosphere/kudo-kafka-operator/issues/63 - created ticket into Kafka operator repo

[2020-10-02 13:59] #296 closed, assigned to nobody

[2020-10-07 07:25] nfnt commented on #18
Closing this as this is provided by https://github.com/kudobuilder/operators-index.

[2020-10-07 07:25] #18 closed, assigned to nobody

[2020-10-15 12:06] nfnt opened #298 "Flink demo 0.1.5 doesn't work with KUDO 0.17"
As reported in https://github.com/kudobuilder/kudo/issues/1714, the flink demo fails with KUDO 0.17 because its dependencies don't set mandatory `appVersion` fields.

[2020-10-16 10:23] #298 closed, assigned to nfnt

[2020-10-22 08:32] #247 closed, assigned to nfnt

[2020-11-19 15:53] dick-twocows opened #303 "ZooKeeper fails because of catch-22 DNS lookup against pods which are not running."
The bootstrap script creates the /conf/zoo.cfg with server.n entries, however the pods are yet to be running so k8s will never create endpoints and thus the DNS will not resolve and the pods will be stuck in CrashLoopBackOFF.

As the Zookeeper startup will never resolve the other servers it will crash loop.

It is my understanding that Services/Endpoints are updated when the Pods are running.

ser

[2020-11-20 13:47] dick-twocows commented on #303
The above issue occurs with 3.5.6/3.6.1/3.6.2 and the solution is to add the following to the bootstrap.sh.yml

    autopurge.snapRetainCount=$SNAP_RETAIN_COUNT
    autopurge.purgeInteval=$PURGE_INTERVAL
    4lw.commands.whitelist=*

    EOF

With this parameter added the cluster will form. I'm still not sure why this error manifests as a DNS error but I can confirm that this fixes it on a local/A

[2020-11-20 13:47] #303 closed, assigned to nobody

[2021-01-04 15:38] rishabh96b opened #308 "[ZK] Triggering validation plan returns an error for zookeeper operator"
### Description
The `validation` plan of zookeeper operator does not run properly and marked as `COMPLETED`. Please find the detailed logs below.
[code]
#### Command
[code]
The `kudo-controller` logs are flooded with
[code]
The plan is supposed to trigger a job which in turn will print the zookeeper URI. But it is unable to create any job stating
[code]
The `zookeeper-instance` StatefulSet looks t

[2021-04-15 07:48] #8 closed, assigned to nobody

[2021-04-15 07:49] #73 closed, assigned to alenkacz

[2021-05-18 18:34] mrksngl opened #315 "Is Kafka Operator rolling restart waiting for replication"
I was wondering whether the kafka operator is aware of under replication when doing rolling restarts.

I did not see anything in the documentation about it, and from scrolling over the repository, I just saw that a normal sts is created but could not find any hint on how it is assured that the next pod is only restarted after replication has been restored.

I know, this is more like a question tha